/* Materiais */

.archive-materia {
  background: #fff;
  color: #fff;
  padding: 30px 0;
}

.materiais-3-archive {
  display: block;
  margin: 0 auto;
}

.archive-materia h2 {
  font-family: 'Varela Round';
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.material-individual-archive {
  padding: 30px 0;
  border: 2px solid #fff;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  width: 270px;
  height: 300px;
  background: #013;
}

.imagem-material img {
  display: block;
  margin: 0 auto 30px auto;
  height: 90px;
  width: 90px;
}

.material-individual-archive h3 {
  font-family: 'Varela Round';
  font-size: 1.125em;
  text-transform: uppercase;
  max-width: 160px;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

div.materiais-3-archive div.grid-4:nth-child(3n - 1) > div {
  display: block  ;
  margin: 0 auto;
}

div.materiais-3-archive div.grid-4:nth-child(3n + 3) > div {
  float: right;
}

div.materiais-3-archive div.grid-4:nth-child(n + 4) > div {
  margin-top: 30px;
}

.archive_plano_ensino {
  padding: 60px 0 90px 0;
}

.botao_archive_plano {
  color: #121314;
  font-size: 1em;
  padding: 15px 20px;
  border: 1px solid #121314;
  text-transform: uppercase;
  border-radius: 50px;
  outline: none;
}

.single_plano {
  margin-bottom: 60px;
}

/* Responsivo */

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 979px) {
  .material-individual-archive {
    width: 230px;
  }
}

/* Smartphone */
@media (max-width: 739px) {

  .material-individual-archive {
    width: 300px;
    float: left;
  }

  div.materiais-3-archive div.grid-4:nth-child(n+1) > div{
    margin-top: 30px;
  }

}