.cabecalho-index{
  height: 220px;
  background: url("../img/imagem-pc.jpg") no-repeat center;
  background-size: cover;
}

.cabecalho-index h1{ 
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  padding-top:75px ;
}

.post-page {
  padding: 60px 0;
}

.post-page h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: 'Varela Round';
}

.imagem-projeto img {
  width: 370px;
  height: 200px;
  object-fit: cover ;
}

.projeto-info h3 {
  font-size: 1.5em;
}

.projeto-info {
  margin-top: 10px;
  max-width: 250px;
  padding-left: 10px;
  border-left: 1px solid #121314;
}

.projeto-info a {
  margin: 10px 0;
}

.info-projeto-ind {
  margin: 5px 0;
  color: #28292C;
  font-style: italic;
  font-size: 0.875em;
}

.sobre-projeto-ind {
  margin: 10px 0;
}

.projeto-ind {
  margin-bottom: 60px;
  display: inline-block;
}


/* Repsonsivo */

@media (max-width: 739px) {
  
}