.cabecalho-index{
  height: 220px;
  background: url("../img/imagem-pc.jpg") no-repeat center;
  background-size: cover;
}

.cabecalho-index h1{ 
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  padding-top:75px ;
}

.post-page::after, .post-page::before {
	content: '';
	display: table;
	clear: both;
}

.post-page {
  display: block;
  margin: 60px 0;
}

.imagem-index img{
  width: 370px;
  height: 200px;
  object-fit: cover ;
}

.info-index {
  border-left: 2px solid #000;
  padding: 0 15px;
  height: 200px;
}

.info-index h2 {
  font-size: 1.5em;
  font-family: 'Varela Round';
}

.info-index-ind {
  margin: 5px 0;
  color: #28292C;
  font-style: italic;
  font-size: 0.875em;
}

.sobre-index-ind {
  margin: 10px 0 20px 0;
  max-width: 770px;
}

/* Repsonsivo */

@media (max-width: 739px) {
  .info-index {
    height: auto;
  }
}