/* Carrossel */

.noticia {
  background: #f0f5ff;
  background-size: cover;
  background-blend-mode: multiply;
}

/* Sobre */

.sobre-inicio {
  padding-bottom: 30px;
}

.sobre-inicio p:first-child {
  margin-top: 90px;
}
.sobre-inicio p {
  font-size: 1.825em;
  max-width: 80%;
}

.logo-sobre img {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

/* Materiais */

.materiais-inicio {
  color: #121314;
  padding: 30px 0;
}

.materiais-3 {
  display: block;
  margin: 0 auto;
}

.materiais-inicio h2 {
  font-family: 'Varela Round';
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.imagem-material img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  margin: 0 auto 30px auto;
}

.material-individual {
  padding: 0 0 30px 0;
  border: 2px solid #121314;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  width: 270px;
  height: 300px;
}

.material-individual:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pessoa-destaque-box:hover {
  box-shadow: none;
}

.material-individual h3 {
  font-family: 'Varela Round';
  font-size: 1.125em;
  text-transform: uppercase;
  max-width: 160px;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

div.materiais-3 div.grid-4:nth-child(3n - 1) > div {
  display: table;
  margin: 0 auto;
}

div.materiais-3 div.grid-4:nth-child(3n + 3) > div {
  float: right;
}

/* Pessoa */

.pessoas-destaque-container {
  background: #f0f5ff;
}

.pessoa-destaque img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.pessoa-destaque .destaque-nome {
  text-align: center;
  font-size: 1.825em;
}

.pessoa-destaque-box {
  border: none;
}

/* Responsivo */

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 979px) {
  .material-individual {
    width: 230px;
  }
}

/* Smartphone */
@media (max-width: 739px) {

  .carrossel h2 {
    font-size: 1.5em;
  }

  .carrossel p {
    font-size: 1.5em;
  }

  .sobre-inicio h2 {
    margin-top: 30px;
  }

  .material-individual {
    width: 300px;
    float: left;
  }

  div.materiais-3 div.grid-4:nth-child(2) > div, div.materiais-3 div.grid-4:last-child > div {
    margin-top: 30px;
  }

  .ultimos-projetos {
    margin-top: 60px;
  }
}