.cabecalho{
    height: 220px;
    background: url("../img/material/capa.png") no-repeat center;
    background-size: cover;
}

.post-types-container {
    background: #013;
    text-align: center;
    padding: 10px 0;
}

.post-types-container a {
    color: white !important;
    font-size: 1.25em !important;
    text-transform: uppercase !important;
}

.post-types-container a:hover {
    color: yellow !important;
    background: none !important;
}

.post-types-container li {
    display: inline-block !important;
    padding: 0 15px !important;
}

.post-types-container .links ul{
    position: absolute;
    background: #013;
    top: 400px;
    z-index: 98;
    opacity: 0;
    visibility: hidden;
  }

  .post-types-container .links ul li a{
      font-size: 1em !important;
  }

.post-types-container .links li:hover > ul{
    top: 470px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    text-align: left;
}

.carrossel-lpe p, .carrossel-lpe p:first-child,
.carrossel-cdd p, .carrossel-cdd p:first-child,
.carrossel-ppd p, .carrossel-ppd p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.carrossel-lpe .grid-7 {
    padding-top: 30px;
}

.carrossel-lpe img {
    padding-top: 20px;
}

.carrossel-ppd .grid-7 {
    padding-top: 80px;
}

.carrossel-ppd img {
    height: 300px;
}

.carrossel-projetos img {
    height: 350px;
}

.carrossel-cdd .grid-7 {
    padding-top: 30px;
}

.carrossel-contato img {
    height: 400px;
}

.carrossel-lpe img {
    height: 350px;
}

.carrossel-contato .grid-7 {
    padding-top: 70px;
}

.carrossel-projetos .grid-7 {
    padding-top: 80px;
}

.carrossel-cdd img {
    padding-top: 50px;
    height: 300px;
}

.single-post-content {
    position: relative;
}

.botoes-navegacao {
    position: absolute;
    right: 0;
}

.botao_materiais {
    display: inline-block;
    margin-top: 30px;
    text-decoration: underline;
    border: none !important;
}

.noticia h1 {
    font-size: 2em;
    margin-bottom: 15px;
    font-family: 'Varela Round';
    font-weight: bold;
}

.autor-frase-materia {
    font-size: 1.5em !important;
}

.titulo-apoio {
    font-size: 2em;
    font-family: 'Varela Round';
    padding-top: 70px;
    padding-bottom: 30px;
}