.cabecalho{
    height: 220px;
    background: url("../img/Cabe-QS.jpg") no-repeat center;
    background-size: cover;
}

.cabecalho h1{ 
    text-align: center;
    font-size: 36px;
    color: white;
    padding-top:75px ;
}

.missao_sobre{
    padding-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .1em; 
    padding-bottom: 60px;
}

.icone_equipe{ 
    float: right;
}

.perfil_equipe{
    padding-top: 60px;   
    background: #0D2759;
    height: 920px;
}

.teste{
    display: block;
    margin: 0 auto;
}

section.perfil_equipe > div.container > div.grid-4 > img{
    width: 200px;
    height: 200px;
}

.ajuste_prof p {
    max-width: 300px;
    margin: 0 auto;
}

.ajuste_prof{
    margin-bottom: 45px;
}

.perfil_equipe h2{
    padding-top: 5px; 
    text-align: center;
    font-size: 22px;
    color: white;   
}

.perfil_equipe h3{
    padding-top: 0px; 
    text-align: center;
    font-size: 10px;
    color: white;   
}

.perfil_equipe p{
    padding-top: 5px;  
    text-align: center;
    font-size: 13px;
    color: white;   
}

.perfil_equipe h3::before{
    content: "";
    display: block;
    width: 90px;
    height: 1px;
    background: white ;
    margin: 3px auto;
}

.campus{
    padding-bottom: 60px;
    padding-top: 60px;
}

section.campus > div.container > div.info-utf{
    text-align: right;
}

section.campus > div.container > div.info-utf > h3{
    padding-top: 5px;  
    text-align: right;
    font-size: 36px;
    color: #1C1D1F;
    display: inline-block;
}

    
section.campus > div.container > div.info-utf > h3::after{
    content: "";
    display: block;
    width: auto;
    height: 2px;
    background: #1C1D1F ;
    margin: 3px 0;
}

.campus p{
    text-align: right;
    font-size: 20px;
    padding-top: 30px;

}

.perfil_devs{
    display: flex;
    justify-content: center;

}

/**----------------------------Responsivo----------------------------**/

/*Mobile*/
@media only screen and (max-width:739px){
    .cabecalho{
        margin-top: 0px;
    }

    .icone_equipe img{ 
        display: block;
        padding-top: 40px;
    }


    .icone_equipe{
        float: left;
    }

    section.perfil_equipe > div.container > div.grid-4{
        padding-bottom: 30px;
    }

    .perfil_equipe{
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
