.single-post {
  padding: 60px 0;
}

.conteudo-single-post {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.single-post h1 {
  font-size: 2em;
  font-family: 'Varela Round';
  margin-bottom: 15px;
}

.single-post h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #28292C;
  margin-top: 10px;
}

.info-single-post {
  margin: 5px 0;
  color: #28292C;
  font-style: italic;
  font-size: 0.875em;
  text-align: end;
  margin-bottom: 15px;
}

.imagem-single-post img {
  width: 600px;
  height: 300px;
  object-fit: cover ;
  margin-bottom: 30px;
}

.single-post-content {
  font-size: 1.125em;
}

/* single-artigo */

.links_arquivos {
  margin-top: 30px;
}

.links_arquivos #arquivo_artigo {
  margin-right: 15px;
}

a.edit_button {
  display: block;
  border: 1px solid red;
  margin-bottom: 15px;
}

a.edit_button p {
  color: red;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
}